In [1]:
#These are the libraries you can use.  You may add any libraries directy related to threading if this is a direction
#you wish to go (this is not from the course, so it's entirely on you if you wish to use threading).  Any
#further libraries you wish to use you must email me, james@uwaterloo.ca, for permission.

from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
import random
from datetime import datetime

## Group Assignment
### Team Number: 4
### Team Member Names: Iris Hu, Nyra Rodrigues, Arav Talati
### Team Strategy Chosen: Market Beat (Market Beat or Market Meet)

Disclose any use of AI for this assignment below (detail where and how you used it).  Please see the course outline for acceptable uses of AI.

In [4]:
tickers_df = pd.DataFrame()
tickers_df['Tickers'] = pd.read_csv('Tickers_Example.csv')
tickers_df.loc[-1] = ['AAPL']  # adding a row
tickers_df.index = tickers_df.index + 1  # shifting index
tickers_df.sort_index(inplace=True)
tickers_df.tail()

   Tickers
36     TXN
37     UNH
38     UNP
39     UPS
40     USB

In [5]:
start_date = '2022-01-01'
end_date = '2024-11-19'

apple = yf.Ticker('AAPL')
apple_hist = apple.history(start=start_date, end=end_date)
apple_hist.index = apple_hist.index.strftime('%Y-%m-%d')
apple_hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-01-03,174.963944,179.932557,174.845883,179.076569,104487900,0.0,0.0
2022-01-04,179.686603,179.991605,176.233164,176.803818,99310400,0.0,0.0
2022-01-05,176.715260,177.266232,171.825359,172.100845,94537600,0.0,0.0
2022-01-06,169.916620,172.474723,168.873707,169.227905,96904000,0.0,0.0
2022-01-07,170.103585,171.333439,168.273561,169.395187,86709100,0.0,0.0

In [6]:
apple_hist['EMA Short'] = apple_hist['Close'].ewm(span=5, adjust=True, min_periods=5).mean()
apple_hist['EMA Long'] = apple_hist['Close'].ewm(span=50, adjust=True, min_periods=5).mean()
apple_hist = apple_hist.drop(['Open', 'High', 'Low', 'Volume', 'Dividends', 'Stock Splits'], axis=1)
apple_hist.tail()

                 Close   EMA Short    EMA Long
Date
2024-11-12  224.229996  224.880611  226.067672
2024-11-13  225.119995  224.960406  226.030508
2024-11-14  228.220001  226.046937  226.116371
2024-11-15  225.000000  225.697958  226.072592
2024-11-18  228.020004  226.471974  226.148961

In [7]:
projected_returns = apple_hist['EMA Short'].iloc[len(apple_hist)-1] - apple_hist['EMA Long'].iloc[len(apple_hist)-1]
print(projected_returns)

0.3230129937551567

In [8]:
ticker = yf.Ticker(tickers_df['Tickers'].iloc[4])
ticker_hist = ticker.history(start=start_date, end=end_date)
ticker_hist

Failed to get ticker 'AGN' reason: Expecting value: line 1 column 1 (char 0)
$AGN: possibly delisted; no timezone found

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [9]:
tickers_df['Projected Returns'] = 0.0
for i in range(len(tickers_df)-1):
    try:
        ticker = yf.Ticker(tickers_df['Tickers'].iloc[i])
        ticker_hist = ticker.history(start=start_date, end=end_date)
        ticker_hist['EMA Short'] = ticker_hist['Close'].ewm(span=2, adjust=True, min_periods=5).mean()
        ticker_hist['EMA Long'] = ticker_hist['Close'].ewm(span=50, adjust=True, min_periods=5).mean()
        if ticker_hist.empty:
            tickers_df.loc[i, 'Projected Returns'] = -10000
            print(tickers_df.loc[i, 'Tickers'], ":", tickers_df.loc[i, 'Projected Returns'])
        tickers_df.loc[i, 'Projected Returns'] = ticker_hist['EMA Short'].iloc[len(ticker_hist)-1] - ticker_hist['EMA Long'].iloc[len(ticker_hist)-1]
        print(tickers_df.loc[i, 'Tickers'], ":", tickers_df.loc[i, 'Projected Returns'])
    except:
        pass

tickers_df = tickers_df.sort_values(by=['Projected Returns'], ascending=False)
tickers_df

AAPL : 1.0995210994809383

$ABBV: possibly delisted; no price data found  (1d 2022-01-01 -> 2024-11-19)

ABBV : -10000.0
ABT : 2.0371679997139154

$ACN: possibly delisted; no price data found  (1d 2022-01-01 -> 2024-11-19)
Failed to get ticker 'AGN' reason: Expecting value: line 1 column 1 (char 0)
$AGN: possibly delisted; no timezone found

ACN : -10000.0
AGN : -10000.0

$AIG: possibly delisted; no price data found  (1d 2022-01-01 -> 2024-11-19)

AIG : -10000.0
AMZN : 9.818923542198405

$AXP: possibly delisted; no price data found  (1d 2022-01-01 -> 2024-11-19)

AXP : -10000.0
BA : -11.347588764747485
BAC : 4.2403226184164495
BB.TO : 0.04231469042351321
BIIB : -24.305336428647053
BK : 4.527997089137955
BLK : 72.73012438471517
BMY : 3.7663148928258465
C : 4.8048780466231875
CAT : 4.45725187736781

Failed to get ticker 'CELG' reason: HTTPSConnectionPool(host='query2.finance.yahoo.com', port=443): Read timed out. (read timeout=10)
$CELG: possibly delisted; no timezone found

CELG : -10000.0
CL : -3.039113037243581

$KO: possibly delisted; no price data found  (1d 2022-01-01 -> 2024-11-19)

KO : -10000.0
LLY : -118.79757169549328

$LMT: possibly delisted; no price data found  (1d 2022-01-01 -> 2024-11-19)

LMT : -10000.0
MO : 4.179059087756258

$MON: possibly delisted; no timezone found

MON : -10000.0
MRK : -10.14236946195409
PEP : -9.636551519758683
PFE : -2.7064835131269405

$PG: possibly delisted; no price data found  (1d 2022-01-01 -> 2024-11-19)

PG : -10000.0
PM : 6.3626780733866894
PYPL : 6.026428163717952
QCOM : -5.435308245031905

$RTN: possibly delisted; no timezone found

RTN : -10000.0
RY.TO : 4.068155680246434

$SHOP.TO: possibly delisted; no price data found  (1d 2022-01-01 -> 2024-11-19)

SHOP.TO : -10000.0
T.TO : -0.40334461818840595
TD.TO : -0.7160181431733577
TXN : 1.5826965427025073
UNH : 9.933101236259972
UNP : -4.715880233131344
UPS : 2.8318727552506004

    Tickers  Projected Returns
13      BLK          72.730124
37      UNH           9.933101
6      AMZN           9.818924
28       PM           6.362678
29     PYPL           6.026428
15        C           4.804878
12       BK           4.527997
16      CAT           4.457252
9       BAC           4.240323
22       MO           4.179059
32    RY.TO           4.068156
14      BMY           3.766315
39      UPS           2.831873
2       ABT           2.037168
36      TXN           1.582697
0      AAPL           1.099521
10    BB.TO           0.042315
40      USB           0.000000
34     T.TO          -0.403345
35    TD.TO          -0.716018
26      PFE          -2.706484
18       CL          -3.039113
38      UNP          -4.715880
30     QCOM          -5.435308
25      PEP          -9.636552
24      MRK         -10.142369
8        BA         -11.347589
11     BIIB         -24.305336
20      LLY        -118.797572
27       PG      -10000.000000
19       KO      -10000.000000
23      MON      -10000.000000
31      RTN      -10000.000000
7       AXP      -10000.000000
33  SHOP.TO      -10000.000000
17     CELG      -10000.000000
21      LMT      -10000.000000
5       AIG      -10000.000000
4       AGN      -10000.000000
1      ABBV      -10000.000000
3       ACN      -10000.000000

In [10]:
#min weighting: 4.167%
#max weighting: 15%

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

Insert Names Here.